---
import '../components/GlobalStyle.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/nikke-font-generator/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>404</title>

		<meta name="description" content="???">
  		<meta name="keywords" content="nikke">
		<meta name="theme-color" content="#f4d259">

		<meta name="twitter:title" content="???">
		<meta name="twitter:description" content="???">
		<meta name="twitter:card" content="summary_large_image">

		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	</head>
	<body>
		<span id="error404"></span>
        <div class="tutorial-layer" id="tutorial-layer" style="display: none;">
			<div id="dialogue-backdrop"></div>
			<div id="dialogue-spotlight-border"></div>
			<div class="dialogue-part">
				<div class="character-avatar">
					<img src="/nikke-font-generator/images/squareEinkk.png">
				</div>
				<div class="character-dialogue">
					<b>Einkk</b>
					<span id="tutorial-dialogue">Welcome to the False Memory System Demo!</span>
					<span id="tutorial-next"><i class='bx bx-fast-forward' style="font-size: 16px; transform: translate(3px, 3px)"></i> TAP TO CONTINUE</span>
				</div>
			</div>
		</div>

		<script src="../scripts/tutorial.js"></script>
	</body>
</html>
