---
import '../components/GlobalStyle.astro';
import BlablaDisplay from '../components/BlablaDisplay.astro';
import BlablaInput from '../components/BlablaInput.astro';
import Credits from '../components/Credits.astro';
import UpdatePopup from '../components/UpdatePopup.astro';
import LanguageSelector from '../components/LanguageSelector.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/nikke-font-generator/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Barely Accurate NIKKE Blabla Generator</title>

		<meta name="description" content="Create a spoof of a Blabla chat from NIKKE easily!">
  		<meta name="keywords" content="nikke">
		<meta name="theme-color" content="#f4d259">
		
		<meta name="twitter:title" content="Barely Accurate NIKKE BlaBla Generator">
		<meta name="twitter:description" content="Create a spoof of a Blabla chat from NIKKE easily!">
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:image:src" content="/nikke-font-generator/example-blabla.png" />

		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-L4D9H1G2HS"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-L4D9H1G2HS');
		</script>

		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	</head>
	<body>
		<h1>Barely Accurate NIKKE Blabla Generator</h1>
		<BlablaDisplay />
		<br><br>

		<div class="input-wrapper">
			<div class="input-main">
				<div class="row">
					<div class="input-button fullwidth" id="tutorial">
						<img src="/nikke-font-generator/images/happiEinkk.png" class="einkk-bg" draggable="false">
						<span style="z-index: 999; text-shadow: #000 0 0 4px"><b>Tutorial</b></span>
					</div>
				</div>
			</div>
		</div>

		<p><i>Generated output you see may be barely accurate to inaccurate compared to official media.</i></p>
		<BlablaInput />
		<p>
			<i>
				creations in Safari may have the text look offset.<br>
				this is unfortunately a <b>browser issue</b>, nothing much I can do about it.<br>
				use a different browser, if possible. sorry!
				<br><br>
				curious on what character portraits can be searched?<br>
				look into the <a href="/nikke-font-generator/blabla-pfps">the blabla pfps list</a>!
			</i>
		</p>
		
		<LanguageSelector />
		<Credits />

		<div class="tutorial-layer" id="tutorial-layer" style="display: none;">
			<div id="dialogue-backdrop"></div>
			<div id="dialogue-spotlight-border"></div>
			<div class="dialogue-part">
				<div class="character-avatar">
					<img src="/nikke-font-generator/images/squareEinkk.png">
				</div>
				<div class="character-dialogue">
					<b>Einkk</b>
					<span id="tutorial-dialogue">Welcome to the False Memory System Demo!</span>
					<span id="tutorial-next"><i class='bx bx-fast-forward' style="font-size: 16px; transform: translate(3px, 3px)"></i> TAP TO CONTINUE</span>
				</div>
			</div>
		</div>

		<UpdatePopup />

		<script src="../scripts/langinit.js"></script>
		<script src="../scripts/blabla.js"></script>
		<script src="../scripts/tutorial.js"></script>
	</body>
</html>
