---
import '../components/GlobalStyle.astro';
import BlablaDisplay from '../components/BlablaDisplay.astro';
import BlablaInput from '../components/BlablaInput.astro';
import Credits from '../components/Credits.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/nikke-font-generator/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Barely Accurate NIKKE Blabla Generator</title>

		<meta name="description" content="Create a spoof of a Blabla chat from NIKKE easily!">
  		<meta name="keywords" content="nikke">
		<meta name="theme-color" content="#f4d259">
		
		<meta name="twitter:title" content="Barely Accurate NIKKE BlaBla Generator">
		<meta name="twitter:description" content="Create a spoof of a Blabla chat from NIKKE easily!">
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:image:src" content="/nikke-font-generator/blabla-example1.png" />
	</head>
	<body>
		<h1>Barely Accurate NIKKE Blabla Generator</h1>
		<BlablaDisplay />
		<p><i>Generated output you see may be barely accurate to inaccurate to official media.<br>Click the image for a fast download!</i></p>
		<p style="margin: 0; margin-bottom: 4px;"><b><a href="/nikke-font-generator/how/blabla">Tool Guide / What is this thing?</a></b></p>
		<BlablaInput />
		<p>
			<i>
				creations in Safari may have the text look offset.<br>
				this is unfortunately a <b>browser issue</b>, nothing much I can do about it.<br>
				use a different browser, if possible. sorry!
				<br><br>
				curious on what character portraits can be searched?<br>
				look into the <a href="/nikke-font-generator/blabla-pfps">the blabla pfps list</a>!
			</i>
		</p>
		<Credits />

		<div style="text-align: center; margin: 0; margin-top: 128px; display: flex; justify-content: center;">
			<div style="opacity: 0.5;">
				<a href='https://www.free-website-hit-counter.com'>
					<img src='https://www.free-website-hit-counter.com/c.php?d=9&id=175682&s=2' alt='Free Website Hit Counter'>
				</a>
				<br>
				<small>
					<a href='https://www.free-website-hit-counter.com' title="Free Website Hit Counter">
						Free website hit counter
					</a>
				</small>
			</div>
		</div>


		<script src="../scripts/blabla.js"></script>
	</body>
</html>
