---
import '../components/GlobalStyle.astro';
import Credits from '../components/Credits.astro';
import DialogueColorList from '../components/DialogueColorList.astro';
import DialogueDisplay from '../components/DialogueDisplay.astro';
import DialogueInput from '../components/DialogueInput.astro'
import DialogueSizingTool from '../components/DialogueSizingTool.astro';
import LanguageSelector from '../components/LanguageSelector.astro';
import UpdatePopup from '../components/UpdatePopup.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/nikke-font-generator/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Barely Accurate NIKKE Dialogue Generator</title>

		<meta name="description" content="Create a spoof of a dialogue interaction from NIKKE easily!">
  		<meta name="keywords" content="nikke">
		<meta name="theme-color" content="#f4d259">
		
		<meta name="twitter:title" content="Barely Accurate NIKKE Dialogue Generator">
		<meta name="twitter:description" content="Create a spoof of a dialogue interaction from NIKKE easily!">
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:image:src" content="/nikke-font-generator/example-dialogue.png" />

		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-L4D9H1G2HS"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-L4D9H1G2HS');
		</script>

		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	</head>
	<body>
		<h1>Barely Accurate NIKKE Dialogue Generator</h1>
		<DialogueDisplay />
		<br><br>

		<div class="input-wrapper">
			<div class="input-main">
				<div class="row">
					<div class="input-button fullwidth" id="tutorial">
						<img src="/nikke-font-generator/images/happiEinkk.png" class="einkk-bg" draggable="false">
						<span style="z-index: 999; text-shadow: #000 0 0 4px"><b>Tutorial</b></span>
					</div>
				</div>
				<div class="row">
					<div class="input-button fullwidth">
						<img src="/nikke-font-generator/images/usc.png" class="einkk-bg" draggable="false">
						<a href="https://skuqre.itch.io/ultimate-scenario-creator" target="_blank"></a>
						<span style="z-index: 999; text-shadow: #000 0 0 4px"><b>Also try Ultimate Scenario Creator!</b></span>
					</div>
				</div>
			</div>
		</div>

		<DialogueSizingTool />
		<p><i>Generated output you see may be barely accurate to inaccurate compared to official media.</i></p>
		<DialogueInput />
		<div style="text-align: center; font-style: italic; opacity: 0.75;">
			<h3>BE WARY OF POSTING IMAGES TO OFFICIAL CHANNELS!</h3>
			<p>
				I (skuqre) am not liable for anything that happens to you.<br>
				If you would like to post images to official channels,<br>
				I highly recommend you to use <b>fanart</b> instead of using NIKKE's assets.<br>
				For more information, please head to the <a href="/nikke-font-generator/usage/">Usage</a> page.
			</p>
			<p>
				NIKKE assets can be found on NikkeDB's <a href="https://nikke-db.pages.dev/gallery">gallery</a> and
				<a href="https://nikke-db.pages.dev/visualiser">Live2D visualizer</a> page for the NIKKEs.<br>
				<b>Please keep the watermark on! I don't want you spreading lies!</b>
			</p>
		</div>

		<LanguageSelector />
		<Credits />

		<div class="tutorial-layer" id="tutorial-layer" style="display: none;">
			<div id="dialogue-backdrop" draggable="false"></div>
			<div id="dialogue-spotlight-border" draggable="false"></div>
			<div class="dialogue-part">
				<div class="character-avatar">
					<img src="/nikke-font-generator/images/squareEinkk.png">
				</div>
				<div class="character-dialogue">
					<b>Einkk</b>
					<span id="tutorial-dialogue">Welcome to the False Memory System Demo!</span>
					<span id="tutorial-next"><i class='bx bx-fast-forward' style="font-size: 16px; transform: translate(3px, 3px)"></i> TAP TO CONTINUE</span>
				</div>
			</div>
		</div>

		<DialogueColorList />

		<UpdatePopup />

		<script src="../scripts/langinit.js"></script>
		<script src="../scripts/dialogue.js"></script>
		<script src="../scripts/tutorial.js"></script>
	</body>
</html>
