---
import '../components/GlobalStyle.astro';
import DialogDisplay from '../components/DialogDisplay.astro';
import DialogueInput from '../components/DialogueInput.astro'
import Credits from '../components/Credits.astro';
import Anise from '../components/Anise.astro';
import SizingTool from '../components/SizingTool.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/nikke-font-generator/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Barely Accurate NIKKE Dialogue Generator</title>

		<meta name="description" content="Create a spoof of a dialogue interaction from NIKKE easily!">
  		<meta name="keywords" content="nikke">
		<meta name="theme-color" content="#f4d259">
		<meta property="og:image" content="/nikke-font-generator/dialogue-example2.png" />
		<meta name="og:site_name" content="Barely Accurate NIKKE Dialogue Generator" />
	</head>
	<body>
		<h1>Barely Accurate NIKKE Dialogue Generator</h1>
		<DialogDisplay />
		<SizingTool />
		<p><i>Generated output you see may be barely accurate to inaccurate to official media.<br>Click the image for a fast download!</i></p>
		<DialogueInput />
		<p><i><b>****BE WARY OF POSTING IMAGES FROM THIS ON OFFICIAL CHANNELS!****</b><br>I (skuqre) do not recommend doing so the images may be rulebreaking.<br>I am not liable for anything that happens to you (in the Discord). I entrust you to keep yourself safe.<br>If you'd like to keep yourself safe in the official Discord, use fanart for your images!</i></p>
		<p><i>NIKKE assets can be found on NikkeDB's <a href="https://nikke-db.pages.dev/gallery">gallery</a> and <a href="https://nikke-db.pages.dev/visualiser">Live2D visualizer</a> page for the NIKKEs.<br><b>I plead you keep the watermark on to refrain from spreading misinformation.</b></i></p>
		<Credits />
		<Anise />

		<div style="text-align: center; margin: 0; margin-top: 128px; display: flex; justify-content: center;">
			<div style="opacity: 0.5;">
				<a href='https://www.free-website-hit-counter.com'>
					<img src='https://www.free-website-hit-counter.com/c.php?d=9&id=159038&s=2' alt='Free Website Hit Counter'>
				</a>
				<br>
				<small>
					<a href='https://www.free-website-hit-counter.com' title="Free Website Hit Counter">
						Free website hit counter
					</a>
				</small>
			</div>
		</div>

		<script src="../scripts/dialogue.js"></script>
	</body>
</html>
