---
import '../components/GlobalStyle.astro';
import FontDisplay from '../components/FontDisplay.astro';
import InputFields from '../components/InputFields.astro';
import Credits from '../components/Credits.astro';
import Anise from '../components/Anise.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/nikke-font-generator/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Barely Accurate NIKKE Font Generator</title>

		<meta name="description" content="Create a spoof of the NIKKE: Goddess of Victory logo easily!">
  		<meta name="keywords" content="nikke">
		<meta name="theme-color" content="#f4d259">

		<meta name="twitter:title" content="Barely Accurate NIKKE Font Generator">
		<meta name="twitter:description" content="Create a spoof of the NIKKE: Goddess of Victory logo easily!">
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:image:src" content="/nikke-font-generator/logo-example1.png" />
	</head>
	<body>
		<h1>Barely Accurate NIKKE Font Generator</h1>
		<FontDisplay />
		<p><i>Generated output you see may be barely accurate to inaccurate to official media.<br>Click the image for a fast download!</i></p>
		<p style="margin: 0; margin-bottom: 4px;"><b><a href="/nikke-font-generator/how/logo">Tool Guide / What is this thing?</a></b></p>
		<InputFields />
		<Credits />
		<Anise />

		<script src="../scripts/logo.js"></script>
	</body>
</html>
