---
import '../components/GlobalStyle.astro';
import LogoDisplay from '../components/LogoDisplay.astro';
import LogoInput from '../components/LogoInput.astro';
import Credits from '../components/Credits.astro';
import UpdatePopup from '../components/UpdatePopup.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/nikke-font-generator/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Barely Accurate NIKKE Font Generator</title>

		<meta name="description" content="Create a spoof of the NIKKE: Goddess of Victory logo easily!">
  		<meta name="keywords" content="nikke">
		<meta name="theme-color" content="#f4d259">

		<meta name="twitter:title" content="Barely Accurate NIKKE Font Generator">
		<meta name="twitter:description" content="Create a spoof of the NIKKE: Goddess of Victory logo easily!">
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:image:src" content="/nikke-font-generator/example-logo.png" />

		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

		<script type="application/ld+json">
			{
				"@context": "http://schema.org/",
				"@type": "BreadcrumbList",
				"itemListElement": [
					{
						"@type": "ListItem",
						"position": 1,
						"name": "Logo Generator",
						"item": "https://skuqre.github.io/nikke-font-generator"
					},
					{
						"@type": "ListItem",
						"position": 2,
						"name": "Dialogue Generator",
						"item": "https://skuqre.github.io/nikke-font-generator/dialogue"
					},
					{
						"@type": "ListItem",
						"position": 3,
						"name": "Blabla Generator",
						"item": "https://skuqre.github.io/nikke-font-generator/blabla"
					},
					{
						"@type": "ListItem",
						"position": 4,
						"name": "Boss Warning Generator",
						"item": "https://skuqre.github.io/nikke-font-generator/warning"
					},
					{
						"@type": "ListItem",
						"position": 5,
						"name": "Card Generator",
						"item": "https://skuqre.github.io/nikke-font-generator/card"
					},
					{
						"@type": "ListItem",
						"position": 6,
						"name": "https://skuqre.github.io/nikke-font-generator/banner",
						"item": "Profile Banner Generator"
					}
				]
			}
		</script>
	</head>
	<body>
		<h1>Barely Accurate NIKKE Font Generator</h1>
		<LogoDisplay />
		<p><i>Generated output you see may be barely accurate to inaccurate compared to official media.</i></p>
		<LogoInput />
		<Credits />

		<UpdatePopup />

		<script src="../scripts/logo.js"></script>
	</body>
</html>
