---
import '../components/GlobalStyle.astro';
import WarningDisplay from '../components/WarningDisplay.astro';
import WarningFields from '../components/WarningFields.astro';
import Credits from '../components/Credits.astro';
import UpdatePopup from '../components/UpdatePopup.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/nikke-font-generator/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Barely Accurate NIKKE Boss Warning Generator</title>

		<meta name="description" content="Create a spoof of a boss warning in NIKKE easily!">
  		<meta name="keywords" content="nikke">
		<meta name="theme-color" content="#f4d259">

		<meta name="twitter:title" content="Barely Accurate NIKKE Boss Warning Generator">
		<meta name="twitter:description" content="Create a spoof of a boss warning in NIKKE easily!">
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:image:src" content="/nikke-font-generator/example-warning.png" />

		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	</head>
	<body>
		<h1>Barely Accurate NIKKE Boss Warning Generator</h1>
		<WarningDisplay />
		<p><i>Generated output you see may be barely accurate to inaccurate compared to official media.</i></p>
		<WarningFields />

		<Credits />

		<UpdatePopup />

		<script src="../scripts/warning.js"></script>
	</body>
</html>
