---

---

<p class="anisetext"><i>check out my<br>other nikke project, Anisé!</i></p>

<a href="https://skuqre.github.io/anise" class="anise">
    <div class="anise"></div>
</a>

<style>
    div.anise {
        background-image: url('/nikke-font-generator/images/anise.svg');
        background-size: 64px 64px;

        position: fixed;

        width: 64px;
        height: 64px;
        bottom: 16px;
        right: 16px;

        filter: grayscale(1.0);
        opacity: 0.5;
        transition: opacity, filter, 0.2s ease-in-out;
    }

    div.anise:hover {
        filter: grayscale(0);
        opacity: 1;
        transition: opacity, filter, 0.2s ease-in-out;
    }

    a.anise {
        width: fit-content;
        height: fit-content;
    }

    p.anisetext {
        position: fixed;
        right: 90px;
        bottom: 20px;
        margin: 0;
        text-align: right;
    }
</style>