---

---

<div class="input-fields">
    <table>
        <th>
            Append
        </th>
        <tr>
            <td>
                <input
                    type="text"
                    id="charname"
                    autocomplete="off"
                    placeholder='Character name...'
                />
            </td>
            <td>
                <button id="add">Add Chat</button>
            </td>
            <td rowspan="2" style="vertical-align: top;">
                <input
                    type="color"
                    id="color"
                    autocomplete="off"
                    value="#ffffff"
                    style="top: 2px; position: relative;"
                />
            </td>
        </tr>
        <tr>
            <td>
                <textarea
                    id="chatter"
                    autocomplete="off"
                    placeholder='What the character will be saying...'
                    style="top: -4px; position: relative;"
                />
            </td>
            <td style="vertical-align: top;">
                <!-- <select id="size" name="Size">
                    <option value="100">100%</option>
                    <option value="75">75%</option>
                    <option value="50">50%</option>
                    <option value="25">25%</option>
                    <option value="10">10%</option>
                </select> -->
            </td>
        </tr>
        <tr>
            <td colspan="3" class="wholerow">
                <label class="whole-row" for="char-img-up">
                    Upload Character image...
                    <input type="file" id="char-img-up">
                </label>
            </td>
        </tr>

        <th>
            Edit
        </th>
        <tr>
            <td>
                <input
                    type="text"
                    id="charname-edit"
                    autocomplete="off"
                    placeholder='Character name...'
                />
            </td>
            <td>
                <button id="edit">Refresh</button>
            </td>
            <td rowspan="2" style="vertical-align: top;">
                <input
                    type="color"
                    id="color-edit"
                    autocomplete="off"
                    value="#fea50a"
                    style="top: 2px; position: relative;"
                />
            </td>
        </tr>
        <tr>
            <td>
                <textarea
                    id="chatter-edit"
                    autocomplete="off"
                    placeholder='What the character will be saying...'
                    style="top: -4px; position: relative;"
                />
            </td>
            <td style="vertical-align: top;">
                <input type="number" id="message-index-edit" style="width: 78px; margin: 0; margin-bottom: 4px;" min="0" placeholder="Index..." />
            </td>
        </tr>
        <tr>
            <td colspan="3" class="wholerow">
                <label class="whole-row" for="char-img-edit">
                    Change Character image...
                    <input type="file" id="char-img-edit">
                </label>
            </td>
        </tr>

        <th>
            Chat
        </th>
        <tr>
            <td>
                <input
                    type="text"
                    id="chatname"
                    autocomplete="off"
                    placeholder='Chat Name'
                />
            </td>
            <td colspan="2">
                <button id="arrow-toggle" style="width: 137px;">Arrow: ON</button>
            </td>
        </tr>
        <tr>
            <td colspan="1">
                <input type="number" id="ypos" step="10" value="0" style="width: 256px; margin: 0; margin-left: 4px; margin-bottom: 4px;" placeholder="Global Y-Position Offset/Scroll" />
            </td>
        </tr>


        <th>
            Delete / Reset
        </th>
        <tr>
            <td colspan="3" class="wholerow">
                <label class="whole-row" id="del-late">
                    Delete last message...
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="whole-row" id="del-spec" >
                    Delete specific message...
                </label>
            </td>
            <td colspan="2">
                <input type="number" id="message-index" style="width: 126px; margin: 0; margin-bottom: 4px;" min="0" placeholder="Index..." />
            </td>
        </tr>
        <tr>
            <td colspan="3" class="wholerow">
                <label class="whole-row" id="res-color">
                    Set Color to Commander's Color...
                </label>
            </td>
        </tr>
    </table>
</div>

<style>
    div.input-fields {
        width: fit-content;
        margin: auto;
        background-color: var(--darkerer);
        border-radius: 4px;
        box-shadow: 0 0 16px black;
    }

    div > table {
        margin: auto;
    }

    input, textarea {
        width: 256px;
        height: 32px;
        font-family: "pretendard";
        padding: 4px;
        padding-left: 8px;
        margin: 4px;
        outline: none;
        border: 0;
        background-color: var(--dark);
        border-radius: 4px;
        caret-color: white;
        color: lightgray;
        font-size: 16px;
    }

    textarea {
        margin-bottom: -2px;
        min-width: 256px;
        max-width: 256px;
        min-height: 32px;
        resize: vertical;
    }

    input#subtext {
        margin-top: 0;
    }

    select#size {
        width: 90px;
        height: 40px;
        padding-left: 8px;
        font-size: 16px;
        background-color: var(--darker);
        color: lightgray;
        border: none;
        border-radius: 4px;
        font-family: 'pretendard', sans-serif;
    }

    button {
        all: unset;
    }

    button:focus {
        outline: revert;
    }

    input#color, input#color-edit {
        width: 40px;
        height: 90px;

        margin: 0;
        margin-right: 4px;
        padding: 0px 2px;
    }

    button#add, button#edit, button#arrow-toggle {
        width: 90px;
        height: 40px;
        background-color: var(--darker);
        border-radius: 4px;
        color: lightgray;
        font-family: "pretendard";
        text-align: center;

        transition-property: color, background-color, box-shadow;
        transition-duration: 0.1s;
        transition-timing-function: ease-in-out;

        margin-left: 0px;
        margin-right: 4px;
    }

    button#add:hover, button#edit:hover, button#arrow-toggle:hover {
        background-color: #f4d2594b;
        color: white;
        text-decoration: none;

        transition-property: color, background-color, box-shadow;
        transition-duration: 0.1s;
        transition-timing-function: ease-in-out;
    }

    input[type="file"] {
        display: none;
    }

    label > input {
        width: 24px;
        height: 24px;
        margin: 8px;
        border-radius: 4px;
    }

    label {
        height: 40px;
        display: flex;
        align-content: center;
        justify-content: left;
    }

    label.whole-row {
        width: calc(100% - 8px);
        height: 30px;
        background-color: var(--darker);
        border-radius: 4px;
        color: lightgray;
        font-family: "pretendard";
        text-align: center;

        margin-left: 4px;
        margin-bottom: 4px;

        transition-property: color, background-color, box-shadow;
        transition-duration: 0.1s;
        transition-timing-function: ease-in-out;
        justify-content: center;
        align-items: center;
    }

    label.whole-row:hover {
        background-color: #f4d2594b;
        color: white;
        text-decoration: none;

        transition-property: color, background-color, box-shadow;
        transition-duration: 0.1s;
        transition-timing-function: ease-in-out;
    }

    #del-late {
        user-select: none;
    }

    #del-spec {
        height: 40px;
        user-select: none;
    }

    th {
        text-align: left;
        padding-left: 8px;
        padding-top: 8px;
    }
</style>
