---

---

<div class="input-wrapper">
    <div class="input-main" id="blabla-tool-tablist">
        <div class="row">
            <div class="input-button fullwidth" id="set-convo" style="font-weight: bold;">
                <span>Conversation</span>
            </div>
            <div class="input-button fullwidth" id="set-chats">
                <span>Chat List</span>
            </div>
            <div class="input-button fullwidth" id="set-profile">
                <span>Profile</span>
            </div>
        </div>
    </div>

    <div class="input-main" id="blabla-tool-conversation" style="display: flex;">
        <div class="row takeheight">
            <h4 style="margin: 0;">Add Message</h4>
        </div>
        <div class="row">
            <input type="text" id="charname" class="fullwidth" placeholder="Sender's name here..." />
            <div class="input-button" id="add"><span>Add</span></div>
            <input type="color" id="color" value="#ffffff" style="height: 88px;" />
        </div>
        <div class="row takeheight">
            <textarea id="chatter" class="fullwidth" placeholder="What the sender will be saying..."></textarea>
            <div class="filler-square"></div>
        </div>
        <div class="row">
            <div class="fullwidth row-even" id="quick-switch">
                <div class="input-button fullwidth" id="set-oth">
                    <span><i class='bx bx-message-square-dots'></i> Sender</span>
                </div>
                <div class="input-button fullwidth" id="set-com">
                    <span><i class='bx bxs-message-square-dots bx-flip-horizontal'></i> Receiver</span>
                </div>
            </div>
        </div>
        <div class="row">
            <label for="attachment-up" class="input-button fullwidth">
                <span>
                    <i class='bx bxs-image-add'></i>
                    Send an image...
                </span>
                <input type="file" id="attachment-up" accept="image/*" />
            </label>
        </div>
        <div class="row">
            <input type="text" id="char-pres-up" class="fullwidth" placeholder="🔎 Look for NIKKE character's avatar..."/>
            <div class="pfp-preview">
                <img id="pfp-preview" src="/nikke-font-generator/images/blabla/pfp/nochat.png"/>
            </div>
        </div>
        <div class="row">
            <label for="char-img-up" class="input-button fullwidth">
                <span>Upload avatar...</span>
                <input type="file" id="char-img-up" accept="image/*" />
            </label>
            <div class="filler-square"></div>
            <div class="filler-square"></div>
        </div>

        <div class="row takeheight">
            <h4>Choices</h4>
        </div>
        <div class="row takeheight">
            <textarea 
                id="choices"
                class="fullwidth"
                style="text-align: center; min-height: 60px;"
                placeholder="Put your choices here.&#13;&#10;You can separate choices by pressing enter."></textarea>
        </div>

        <div class="row takeheight">
            <h4>Thought</h4>
        </div>
        <div class="row takeheight">
            <textarea 
                id="thought"
                class="fullwidth"
                placeholder="What's on your mind?"></textarea>
            <div class="input-button square" id="thought-toggle">
                <i class='bx bx-show-alt'></i>
            </div>
        </div>

        <div class="row takeheight">
            <h4>Edit Message</h4>
        </div>
        <div class="row">
            <input type="text" id="charname-edit" class="fullwidth" placeholder="Sender's name here..." />
            <div class="input-button" id="edit"><span>Refresh</span></div>
            <input type="color" id="color-edit" value="#ffffff" style="height: 88px;" />
        </div>
        <div class="row takeheight">
            <textarea id="chatter-edit" class="fullwidth" placeholder="What the sender will be saying..."></textarea>
            <input type="number" id="message-index-edit" placeholder="Index" />
            <div class="filler-square"></div>
        </div>
        <div class="row">
            <label for="attachment-edit" class="input-button fullwidth">
                <span>
                    <i class='bx bxs-image-add'></i>
                    Change image...
                </span>
                <input type="file" id="attachment-edit" accept="image/*" />
            </label>
            <div class="input-button square" id="attachment-remove">
                <i class='bx bx-trash'></i>
            </div>
        </div>
        <div class="row">
            <input type="text" id="char-pres-edit" class="fullwidth" placeholder="🔎 Look for NIKKE character's avatar..."/>
            <div class="pfp-preview">
                <img id="pfp-preview-edit" src="/nikke-font-generator/images/blabla/pfp/nochat.png"/>
            </div>
        </div>
        <div class="row">
            <label for="char-img-edit" class="input-button fullwidth">
                <span>Change avatar...</span>
                <input type="file" id="char-img-edit" accept="image/*" />
            </label>
            <div class="filler-square"></div>
            <div class="filler-square"></div>
        </div>

        <div class="row takeheight">
            <h4>Chat</h4>
        </div>
        <div class="row">
            <input type="text" id="chatname" class="fullwidth" placeholder="Chat Name" />
        </div>
        <div class="row">
            <div class="input-button fullwidth" id="arrow-toggle">
                <span>Exit Arrow: Shown</span>
            </div>
        </div>

        <div class="row takeheight">
            <h4>Delete / Reset</h4>
        </div>
        <div class="row">
            <div class="input-button fullwidth" id="del-late">
                <span>
                    <i class='bx bx-trash'></i>
                    Delete latest message...
                </span>
            </div>
        </div>
        <div class="row">
            <div class="input-button fullwidth" id="del-spec">
                <span>
                    <i class='bx bx-trash'></i>
                    Delete message at index...
                </span>
            </div>
            <input type="number" id="message-index" placeholder="Index" />
        </div>
        <div class="row" id="color-transforms">
            <div class="input-button fullwidth" id="res-color">
                <span>Reset color to Commander's color</span>
            </div>
            <input type="color" id="com-color" value="#ffac00" />
        </div>
    </div>

    <div class="input-main" id="blabla-tool-chatlist" style="display: none;">
        <div class="row" id="chat-menu-transforms">
            <div class="input-button fullwidth" id="mission-page" style="font-weight: bold;">
                <span>Mission</span>
            </div>
            <div class="input-button fullwidth" id="nikke-page">
                <span>Nikke</span>
            </div>
            <div class="input-button fullwidth" id="group-page">
                <span>Group</span>
            </div>
        </div>

        <p id="laziness-paragraph">
            UI here coming soon! You can basically just do this through
            the <b>Conversation</b> tab, as it is just a slight convert.
        </p>
    </div>

    <div class="input-main" id="blabla-tool-profile" style="display: none;">
        <div class="row takeheight">
            <h4 style="margin: 0;">Profile</h4>
        </div>
        <div class="row">
            <input type="text" id="charname-edit-p" class="fullwidth" placeholder="Name" />
        </div>
        <div class="row takeheight">
            <textarea id="chatter-edit-p" class="fullwidth" placeholder="Description"></textarea>
        </div>

        <div class="row">
            <input type="text" id="char-pres-edit-p" class="fullwidth" placeholder="🔎 Look for NIKKE character's avatar..."/>
            <div class="pfp-preview">
                <img id="pfp-preview-edit-p" src="/nikke-font-generator/images/blabla/pfp/nochat.png"/>
            </div>
        </div>
        <div class="row">
            <label for="char-img-edit-p" class="input-button fullwidth">
                <span>Upload avatar...</span>
                <input type="file" id="char-img-edit-p" accept="image/*" />
            </label>
            <div class="filler-square"></div>
            <div class="filler-square"></div>
        </div>

        <div class="row takeheight">
            <h4>Background</h4>
        </div>
        <div class="row takeheight" id="bg-transforms">
            <div class="column">
                <span>X Position</span>
                <input type="number" id="xposbg" step="10" class="fullwidth" value="0" />
            </div>
            <div class="column">
                <span>Y Position</span>
                <input type="number" id="yposbg" step="10" class="fullwidth" value="0" />
            </div>
            <div class="column">
                <span>Scale (%)</span>
                <input type="number" id="scalebg" class="fullwidth" value="120" />
            </div>
        </div>
        <div class="row">
            <label for="background-edit-p" class="input-button fullwidth">
                <span>Change background image...</span>
                <input type="file" id="background-edit-p" accept="image/*" />
            </label>
            <div class="input-button square" id="background-remove-p">
                <i class='bx bx-trash'></i>
            </div>
        </div>
    </div>

    <div class="input-main" id="blabla-tool-misc">
        <div class="row">
            <input type="text" id="chattime" class="fullwidth" placeholder="Time" />
        </div>
        <div class="row">
            <div class="input-button fullwidth" id="grid-toggle">
                <span>Grid Background: Hidden</span>
            </div>
        </div>
        <div class="row">
            <div class="input-button fullwidth" id="wifi-toggle">
                <span>WIFI Icon: Shown</span>
            </div>
        </div>
        <div class="row takeheight">
            <h4></h4>
        </div>
        <div class="row">
            <div class="input-button fullwidth" id="drag-toggle">
                <span>Scroll: OFF</span>
            </div>
            <input type="number" id="ypos" class="input-button fullwidth" placeholder="Scroll Offset"/>
        </div>
        <div class="row">
            <label for="chat-json-up" class="input-button fullwidth" id="import">
                <span>Import JSON</span>
                <input type="file" id="chat-json-up" accept="image/*" />
            </label>
            <div class="input-button fullwidth" id="export">
                <span>Export JSON</span>
            </div>
        </div>
        <div class="row">
            <div class="input-button fullwidth" id="export-png">
                <span><i class='bx bxs-download'></i> Download Image</span>
            </div>
        </div>
        <div class="row">
            <div class="input-button fullwidth" id="export-mp4">
                <span><i class='bx bxs-download'></i> Download Video</span>
            </div>
        </div>
    </div>
</div>

<style>
    div.input-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
</style>