<div class='blabla-display'>
    <canvas id="blabla-canvas" width="540" height="900"></canvas>
</div>

<style>
    div.blabla-display {
        display: flex;
        width: 100%;
        margin: 0;
        touch-action: none;
    }

    canvas#blabla-canvas {
        max-width: 90%;
        max-height: 540px;
        margin: auto;
    }
</style>