---

---

<div class='bubble-display'>
    <canvas id="bubble-canvas" width="1000" height="1000"></canvas>
</div>

<style>
    div.bubble-display {
        display: flex;
        width: 100%;
        margin: 0;
    }

    canvas#bubble-canvas {
        max-width: 90%;
        max-height: 224px;
        margin: auto;
    }
</style>