---

---

<div class="input-wrapper">
    <div class="input-main">
        <div class="row">
            <input type="text" class="fullwidth" id="name" placeholder='Character name here...' autocomplete="off" />
            <div class="input-button" id="generate"><span>Refresh</span></div>
            <input type="color" id="color" value="#ffffff" />
        </div>
        <div class="row takeheight">
            <textarea id="dialog" class="fullwidth" placeholder="What the character will be saying..." autocomplete="off"></textarea>
            <div class="input-button square" id="colors-open">
                <i class='bx bx-palette'></i>
            </div>
        </div>
        <div class="row">
            <div class="input-button fullwidth" id="download">
                <span><i class='bx bxs-download'></i> Download Speech Bubble</span>
            </div>
        </div>
        <div class="row">
            <div class="input-button fullwidth" id="autocolor-toggle">
                <span>Automatically change Color Bar: ON</span>
            </div>
        </div>
    </div>
</div>
