---

---

<div>
    <p style="opacity: 1;">
        <b><a href="https://forms.gle/1vjafHbnhteQURTY7">Caught a bug? Report it here!</a></b>
    </p>
    <p>
        <div class="toolbox">
            <h3>More tools!</h3>
            <a href="/nikke-font-generator/">
                <img class="pnglink" src="/nikke-font-generator/images/icon_logo.png" alt="Logo Generator" title="Logo Generator" />
                Logo Generator
            </a>
            <a href="/nikke-font-generator/dialogue">
                <img class="pnglink" src="/nikke-font-generator/images/icon_dialogue.png" alt="Dialogue Generator" title="Dialogue Generator" />
                Dialogue Generator
            </a>
            <a href="/nikke-font-generator/blabla">
                <img class="pnglink" src="/nikke-font-generator/images/icon_blabla.png" alt="Blabla Generator" title="Blabla Generator" />
                Blabla Generator
            </a>
            <a href="/nikke-font-generator/warning">
                <img class="pnglink" src="/nikke-font-generator/images/icon_boss.png" alt="Boss Warning Generator" title="Boss Warning Generator" />
                Boss Warning Generator
            </a>
            <a href="/nikke-font-generator/card">
                <img class="pnglink" src="/nikke-font-generator/images/icon_card.png" alt="Card Generator" title="Card Generator" />
                Card Generator
            </a>
            <a href="/nikke-font-generator/banner">
                <img class="pnglink" src="/nikke-font-generator/images/icon_banner.png" alt="Banner Generator" title="Banner Generator" />
                Banner Generator
            </a>
        </div>
    </p>
    <p>
        made by skuqre. more at <a href="https://skuqre.github.io">skuqre.github.io</a><br>
        <a href="/nikke-font-generator/credits">credits</a> | 
        <a href="/nikke-font-generator/usage">usage</a> | 
        <a href="/nikke-font-generator/privacy">privacy</a> | 
        <a href="https://github.com/skuqre/nikke-font-generator">source code</a> | 
        <a href="/nikke-font-generator/update-log">update log</a> |
        <a href="https://x.com/nikkefontgen">twitter</a>
    </p>
</div>

<style>
    div > p {
        opacity: 0.5;
        transition: opacity 0.2s ease-in-out;
        margin: 12px;
    }

    div > p:hover {
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
    }

    div.toolbox {
        display: flex;
        margin: auto;
        margin-top: 16px;
        margin-bottom: 32px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 8px;
    }

    div.toolbox > a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        font-weight: bold;
        color: white;
    }

    div.toolbox > a {
        filter: hue-rotate(355deg);
        opacity: 0.5;
        scale: 1;

        transition-property: filter, opacity, scale;
        transition: 0.2s ease-in-out;
    }
    
    div.toolbox > a:hover {
        filter: brightness(0) saturate(100%) grayscale(0) invert(82%) sepia(19%) saturate(1288%) hue-rotate(355deg) brightness(105%) contrast(91%);
        opacity: 1;
        scale: 1.1;

        transition-property: filter, opacity, scale;
        transition: 0.2s ease-in-out;
        text-decoration: none;
    }
</style>