---

---

<div>
    <p>
        made by skuqre. more at <a href="https://skuqre.github.io">skuqre.github.io</a> | <a href="/nikke-font-generator/credits">credits</a> | <a href="https://github.com/skuqre/nikke-font-generator">source code</a>
    </p>
    <p>
        <a href="/nikke-font-generator/dialogue">dialogue generator</a> | <a href="/nikke-font-generator/">logo generator</a> | <a href="/nikke-font-generator/blabla">blabla generator</a> | <a href="/nikke-font-generator/update-log">update log</a>
    </p>
</div>

<style>
    div > p {
        opacity: 0.5;
        transition: opacity 0.2s ease-in-out;
        margin: 12px;
    }

    div > p:hover {
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
    }
</style>