---

---

<div class='dialogue-display'>
    <canvas id="dialogue-canvas" width="1080" height="1080"></canvas>
</div>

<style>
    div.dialogue-display {
        display: flex;
        width: 100%;
        margin: 0;
        touch-action: none;

        position: sticky;
        z-index: 1000;

        background-color: rgba(0, 0, 0, 0);
        transition: background-color 0.2s ease-in-out;
    }

    canvas#dialogue-canvas {
        max-width: 90%;
        max-height: 540px;
        margin: auto;

        transition: max-height 0.2s ease-in-out;
    }
</style>

<script>
    document.addEventListener("scroll", () => {
        if (location.href.includes("#start-tutorial")) return;
        if (window.scrollY > document.getElementById("dialogue-canvas").parentElement.getBoundingClientRect().y) {
            document.getElementById("dialogue-canvas").style.maxHeight = window.innerHeight * 0.4 + "px";
            document.getElementById("dialogue-canvas").parentElement.classList.add("blurred-bg");
        } else {
            document.getElementById("dialogue-canvas").style.maxHeight = "540px";
            document.getElementById("dialogue-canvas").parentElement.classList.remove("blurred-bg");
        }
    });
</script>