---

---

<div class="input-wrapper">
    <div class="input-main">
        <div class="row">
            <input type="text" id="character" class="fullwidth" placeholder='Character name here...' autocomplete="off" />
            <div class="input-button" id="generate"><span>Refresh</span></div>
            <input type="color" id="color" value="#ffffff" autocomplete="off" />
        </div>
        <div class="row takeheight">
            <textarea id="dialog" class="fullwidth" placeholder="What the character will be saying..." autocomplete="off"></textarea>
            <select id="size" autocomplete="off">
                <option value="100">100%</option>
                <option value="75">75%</option>
                <option value="50">50%</option>
                <option value="25">25%</option>
                <option value="10">10%</option>
            </select>
            <div class="input-button square" id="colors-open">
                <i class='bx bx-palette'></i>
            </div>
        </div>
        <div class="row">
            <label for="bg-img-up" class="input-button fullwidth">
                <span>Upload background image...</span>
                <input type="file" id="bg-img-up" accept="image/*" />
            </label>
        </div>

        <div class="row takeheight">
            <h4>Characters</h4>
        </div>
        <div class="row">
            <label for="ch-img-up" class="input-button fullwidth">
                <span>Upload character...</span>
                <input type="file" id="ch-img-up" accept="image/*" />
            </label>
        </div>
        <div class="row takeheight">
            <div class="input-selector fullwidth" id="character-selector" style="flex-direction: column-reverse;"></div>
        </div>
        <div class="row takeheight charedit" style="align-items: flex-end;">
            <div class="column">
                <span>X</span>
                <input type="number" id="xposch" step="10" class="fullwidth" value="0" />
            </div>
            <div class="column">
                <span>Y</span>
                <input type="number" id="yposch" step="10" class="fullwidth" value="0" />
            </div>
            <div class="column">
                <span>Scale</span>
                <input type="number" id="scalech" step="10" class="fullwidth" value="0" />
            </div>
            <div class="input-button square" id="visibility-ch">
                <i class='bx bx-show-alt'></i>
            </div>
            <div class="input-button square" id="del-ch"><i class='bx bx-trash'></i></div>
        </div>
        <div class="row charedit">
            <div class="input-button fullwidth icon-button" id="align-ch-top"><i class='bx bx-vertical-top'></i></div>
            <div class="input-button fullwidth icon-button" id="align-ch-ymid"><i class='bx bx-vertical-center'></i></div>
            <div class="input-button fullwidth icon-button" id="align-ch-bot"><i class='bx bx-vertical-bottom'></i></div>
        </div>
        <div class="row charedit">
            <div class="input-button fullwidth icon-button" id="align-ch-left"><i class='bx bx-horizontal-left'></i></div>
            <div class="input-button fullwidth icon-button" id="align-ch-xmid"><i class='bx bx-horizontal-center'></i></div>
            <div class="input-button fullwidth icon-button" id="align-ch-right"><i class='bx bx-horizontal-right'></i></div>
        </div>
        <div class="row charedit">
            <div class="input-button fullwidth" id="deselect"><span>Deselect</span></div>
        </div>
        
        <div class="row takeheight">
            <h4>Narration</h4>
        </div>
        <div class="row takeheight">
            <textarea 
                id="actionbox"
                class="fullwidth"
                style="text-align: center;"
                placeholder="Narrate your story."></textarea>
        </div>

        <div class="row takeheight">
            <h4>Choices</h4>
        </div>
        <div class="row takeheight">
            <textarea 
                id="choices"
                class="fullwidth"
                style="text-align: center; min-height: 60px;"
                placeholder="Put your choices here.&#13;&#10;You can separate choices by pressing enter."></textarea>
        </div>

        <div class="row takeheight">
            <h4>Dialogue Controls</h4>
        </div>
        <div class="row">
            <select id="cotype" class="fullwidth">
                <option value="hideskip">Hide-Auto-Log-Skip (Default)</option>
                <option value="hidefast">Hide-Auto-Log-Fast</option>
                <option value="hidecancel">Hide-Auto-Log-Cancel</option>
                <option value="autoskip">Auto-Log-Skip</option>
                <option value="autofast">Auto-Log-Fast</option>
                <option value="autocancel">Auto-Log-Cancel</option>
            </select>
            <div class="input-button square" id="controls-toggle">
                <i class='bx bx-show-alt'></i>
            </div>
        </div>
        <div class="row takeheight">
            <h4>Download</h4>
        </div>
        <div class="row takeheight column">
            <div class="input-button fullwidth" id="export-png">
                <span><i class='bx bxs-download'></i> Download Image</span>
            </div>
        </div>
        <!-- <div class="row takeheight column">
            <div class="input-button fullwidth" id="export-layers">
                <span><i class='bx bxs-download'></i> Download as Editable Layers</span>
            </div>
        </div> -->
        <div class="row takeheight">
            <h4>Other</h4>
        </div>
        <div class="row">
            <div class="input-button fullwidth" id="clear-bg">
                <span>Clear Background</span>
            </div>
        </div>
        <div class="row">
            <div class="input-button fullwidth" id="enable-sizing">
                <span>Show sizing and camera tools</span>
            </div>
        </div>
        <div class="row">
            <div class="input-button fullwidth" id="arrow-toggle">
                <span>Bottom right pointer: Shown</span>
            </div>
        </div>
        <div class="row">
            <div class="input-button fullwidth" id="ui-toggle">
                <span>UI: Shown</span>
            </div>
        </div>
        <div class="row">
            <div class="input-button fullwidth" id="padding-toggle">
                <span>Landscape Padding: ON</span>
            </div>
        </div>
        <div class="row">
            <div class="input-button fullwidth" id="autocolor-toggle">
                <span>Automatically change Color Bar: ON</span>
            </div>
        </div>
    </div>
</div>