---

---

<div class="input-wrapper">
    <div class="input-main">
        <div class="row">
            <input type="text" class="fullwidth" id="text" placeholder='"NIKKE" text here...' />
            <div class="input-button" id="generate"><span>Refresh</span></div>
            <input type="color" id="color" value="#ffffff" />
        </div>
        <div class="row">
            <input type="text" class="fullwidth" id="subtext" placeholder='"Goddess of Victory" text here...' />
            <select id="size">
                <option value="100">100%</option>
                <option value="75">75%</option>
                <option value="50">50%</option>
                <option value="25">25%</option>
                <option value="10">10%</option>
            </select>
            <input type="color" id="color2" value="#ffffff" />
        </div>
        <div class="row">
            <div class="input-button fullwidth" id="download">
                <span><i class='bx bxs-download'></i> Download Logo</span>
            </div>
        </div>
    </div>
</div>
