---

---

<div class='font-display'>
    <canvas id="font-canvas" width="1200" height="500"></canvas>
</div>

<style>
    div.font-display {
        display: flex;
        width: 100%;
        margin: 0;
    }

    canvas#font-canvas {
        max-width: 90%;
        max-height: 224px;
        margin: auto;
    }
</style>