---

---

<div class="input-wrapper">
    <div class="input-main">
        <div class="row">
            <input type="text" class="fullwidth" id="text" placeholder='"NIKKE" text here...' />
            <input type="number" id="main-size">
            <input type="color" id="text-color" value="#ffffff" />
        </div>
        <div class="row">
            <input type="text" class="fullwidth" id="subtext" placeholder='"Goddess of Victory" text here...' />
            <input type="number" id="sub-size">
            <input type="color" id="subtext-color" value="#ffffff" />
        </div>
        <div class="row">
            <div class="input-button fullwidth" id="download">
                <span><i class='bx bxs-download'></i> Download Logo</span>
            </div>
        </div>
    </div>
</div>
