---

---

<div class="input-fields" id="sizing-tool">
    <table>
        <th colspan="3">Background</th>
        <tr>
            <td>
                <p class="tool-label">X Position</p>
                <input
                    type="number"
                    id="xposbg"
                    autocomplete="off"
                    value="0"
                    step="10"
                />
            </td>
            <td>
                <p class="tool-label">Y Position</p>
                <input
                    type="number"
                    id="yposbg"
                    autocomplete="off"
                    value="0"
                    step="10"
                />
            </td>
            <td>
                <p class="tool-label">Scale (%)</p>
                <input
                    type="number"
                    id="scalebg"
                    autocomplete="off"
                    value="100"
                />
            </td>
            <td>
                <p class="tool-label">Drag</p>
                <button class="but" id="dbg">OFF</button>
            </td>
        </tr>

        <th colspan="3">Character</th>
        <tr>
            <td>
                <p class="tool-label">X Position</p>
                <input
                    type="number"
                    id="xposch"
                    autocomplete="off"
                    value="0"
                    step="10"
                    style="margin-bottom: 4px;"
                />
            </td>
            <td>
                <p class="tool-label">Y Position</p>
                <input
                    type="number"
                    id="yposch"
                    autocomplete="off"
                    value="0"
                    step="10"
                    style="margin-bottom: 4px;"
                />
            </td>
            <td>
                <p class="tool-label">Scale (%)</p>
                <input
                    type="number"
                    id="scalech"
                    autocomplete="off"
                    value="100"
                    style="margin-bottom: 4px;"
                />
            </td>
            <td>
                <p class="tool-label">Drag</p>
                <button class="but" id="dch" style="margin-bottom: 4px;">OFF</button>
            </td>
        </tr>

        <th colspan="3">Post-processing</th>
        <tr class="wholerow">
            <td>
                <p class="tool-label">Grayscale (%)</p>
                <input
                    type="number"
                    id="gsnum"
                    autocomplete="off"
                    value="0"
                    step="1"
                />
            </td>
            <td>
                <p class="tool-label">Blur (pixels)</p>
                <input
                    type="number"
                    id="blnum"
                    autocomplete="off"
                    value="0"
                    step="1"
                />
            </td>
            <td>
                <p class="tool-label">Brightness (%)</p>
                <input
                    type="number"
                    id="brnum"
                    autocomplete="off"
                    value="100"
                />
            </td>
            <td>
                <p class="tool-label">Draw</p>
                <button class="but" id="df" style="margin-bottom: 4px;">ON</button>
            </td>
        </tr>

        <tr class="wholerow">
            <td colspan="4">
                <textarea
                    id="customfil"
                    autocomplete="off"
                    placeholder='Custom CSS filter code...'
                />
            </td>
        </tr>
    </table>
</div>

<style>
    div.input-fields {
        width: fit-content;
        margin: auto;
        margin-top: 16px;
        background-color: var(--darkerer);
        border-radius: 4px;
        box-shadow: 0 0 16px black;
    }

    p.tool-label {
        /* width: min-content; */
        margin: 0px 0px 4px 0px;
        text-align: left;
    }

    input#xscalebg::after {
        content: '%';
    }

    div > table {
        margin: auto;
    }

    th {
        text-align: left;
        padding-left: 4px;
        padding-top: 8px;
    }

    td {
        padding-left: 5px;
    }

    input, textarea {
        width: 256px;
        height: 32px;
        font-family: "pretendard";
        padding: 4px;
        padding-left: 8px;
        /* margin: 4px; */
        outline: none;
        border: 0;
        background-color: var(--dark);
        border-radius: 4px;
        caret-color: white;
        color: lightgray;
        font-size: 16px;
    }

    input[type="number"] {
        width: 90px;
    }

    label > input {
        width: 24px;
        height: 24px;
        margin: 8px;
        border-radius: 4px;
    }

    label.whole-row, button.whole-row {
        width: 100%;
        height: 30px;
        background-color: var(--darker);
        border-radius: 4px;
        color: lightgray;
        font-family: "pretendard";
        text-align: center;

        transition-property: color, background-color, box-shadow;
        transition-duration: 0.1s;
        transition-timing-function: ease-in-out;
        justify-content: center;
        align-items: center;
    }

    input[type="file"] {
        display: none;
    }

    .wholerow {
        padding: 0 5px;
    }

    button.but {
        border: 0;
        width: 40px;
        height: 40px;
        background-color: var(--darker);
        border-radius: 4px;
        color: lightgray;
        font-family: "pretendard";
        text-align: center;

        transition-property: color, background-color, box-shadow;
        transition-duration: 0.1s;
        transition-timing-function: ease-in-out;

        margin: 0px;
        margin-right: 4px;
    }

    button.but:hover {
        background-color: #f4d2594b;
        color: white;
        text-decoration: none;

        transition-property: color, background-color, box-shadow;
        transition-duration: 0.1s;
        transition-timing-function: ease-in-out;
    }

    textarea {
        resize: vertical;
        width: 360px;
        min-height: 32px;
    }
</style>
