---
import {marked} from 'marked';

const updateName = "A little help?";
const updateDate = "Dec 10, 2024";
const updateContent = `
I need your help with something.

When images created with NIKKE Font Generator start popping up on Twitter,
people think it's a real image from the game. The main issue is that people
crop the watermark and it ends up getting tons of attention. People are also
uninformed that it isn't real. Kind of a stinker, don't you think?

I've released an account that will quote a tweet that does not:
a) inform that it is fake
b) crop the watermark, yet does not inform the people
(criteria subject to change)

You are welcome to follow the account here:
https://x.com/nikkefontgen

You are also free to DM about feature suggestions on the site!

I do not intend on breaking the fun. I just do not want people treating
shit like that as gospel or something that is in the game, then it ends up
with the game breaking their expectations when it isn't.
`;
---

<div class="update-popup-wrapper" id="update-wrapper">
    <div class="update-popup-main">
        <h3 style="margin: 0;">New Update: {updateName}</h3>
        <span style="font-size: 12px">{updateDate}</span>
        <div class="update-popup-content" set:html={ await marked.parse(updateContent) }></div>
    </div>
</div>

<style is:inline>
    div.update-popup-wrapper {
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100vh;

        position: fixed;
        top: 0;
        left: 0;

        background-color: rgba(0, 0, 0, 0.3);

        padding: 32px;
        box-sizing: border-box;
        z-index: 9999;

        display: none;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    div.update-popup-main {
        display: flex;
        flex-direction: column;

        gap: 8px;

        width: 420px;
        max-width: 420px;
        height: 540px;
        max-height: 540px;

        background-color: var(--darkerer);
        padding: 16px;
        border-radius: 4px;
    }

    div.update-popup-content {
        overflow-y: auto;

        background-color: #000;
        border-radius: 4px;
        text-align: left;

        width: 100%;
        height: 100%;

        line-height: 24px !important;
    }

    div.update-popup-content p {
        text-align: left !important;
        margin: 16px !important;
    }
</style>

<script define:vars={{ updateDate }}>
    const wrapper = document.getElementById("update-wrapper");

    if (localStorage.getItem("latestUpdate") !== updateDate) {
        wrapper.style.display = "flex";
        setTimeout(() => {
            wrapper.style.opacity = 1;
            wrapper.onclick = () => {
                wrapper.style.opacity = 0;
                wrapper.style.pointerEvents = "none";
            }
        }, 3000);
        localStorage.setItem("latestUpdate", updateDate);
    }
</script>