---
import {marked} from 'marked';

const updateName = "Ultimate is Out!";
const updateDate = "February 5, 2025";
const updateContent = `
<iframe width="100%" height="auto" style="max-width: 90%; aspect-ratio: 16 / 9"
src="https://www.youtube.com/embed/OVOSf-KyeMc">
</iframe> 

The direct upgrade to the Dialogue Generator, Ultimate Scenario Creator, is finally out!

Only for Windows PCs only.<br>
https://skuqre.itch.io/ultimate-scenario-creator

I've been working on getting the project up to speed in a month and I think it came out well!

Create your stories, fanfictions, and what-ifs as if they were in the game itself!
`;
---

<div class="update-popup-wrapper" id="update-wrapper">
    <div class="update-popup-main">
        <h3 style="margin: 0;">New Update: {updateName}</h3>
        <span style="font-size: 12px">{updateDate}</span>
        <div class="update-popup-content" set:html={ await marked.parse(updateContent) }></div>
    </div>
</div>

<style is:inline>
    div.update-popup-wrapper {
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100vh;

        position: fixed;
        top: 0;
        left: 0;

        background-color: rgba(0, 0, 0, 0.3);

        padding: 32px;
        box-sizing: border-box;
        z-index: 9999;

        display: none;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    div.update-popup-main {
        display: flex;
        flex-direction: column;

        gap: 8px;

        width: 420px;
        max-width: 420px;
        height: 540px;
        max-height: 540px;

        background-color: var(--darkerer);
        padding: 16px;
        border-radius: 4px;
    }

    div.update-popup-content {
        overflow-y: auto;

        background-color: #000;
        border-radius: 4px;
        text-align: left;

        width: 100%;
        height: 100%;

        line-height: 24px !important;
    }

    div.update-popup-content p {
        text-align: left !important;
        margin: 16px !important;
    }

    div.update-popup-content img {
        max-width: 100%;
    }
</style>

<script define:vars={{ updateDate }}>
    const wrapper = document.getElementById("update-wrapper");

    if (localStorage.getItem("latestUpdate") !== updateDate) {
        wrapper.style.display = "flex";
        setTimeout(() => {
            wrapper.style.opacity = 1;
        }, 3000);
        setTimeout(() => {
            wrapper.onclick = () => {
                wrapper.style.opacity = 0;
                wrapper.style.pointerEvents = "none";
            }
        }, 4500)
        localStorage.setItem("latestUpdate", updateDate);
    }
</script>