---
import {marked} from 'marked';

const updateName = "Ultimate!";
const updateDate = "October 31, 2025";
const updateContent = `
The vote has ended! Thank you for voting!

**I'll be continuing Ultimate's development sometime down the line.**

I plan to create a form to get testers for the tool. This thing is POWERFUL to all hell, and things may get loose when I release it.
<span style="font-size: 12px; opacity: 0.5;">it'll be funny though</span>

Meanwhile, if you want to keep up with what I'm working on, I'm working on this ~~piece of shit~~ Discord bot, Anisé.
She's sometimes online on the [NIKKE Community Discord](https://discord.gg/nikke/), so you'll see her drop by in the NIKKE chat from time to time.

![](https://anis.is-ne.at/7mGeSR1f0.png)

She's always online, and provides NIKKE information*, be it from NIKKE.gg and Prydwen.
<span style="font-size: 12px; opacity: 0.5;">*THROUGH COMMANDS! THE AI IS NOT HELPFUL AT ALL!</span>
However, she's not public. But, you're probably in a big server with her already. If not, well, shoot.
`;
---

<div class="update-popup-wrapper" id="update-wrapper">
    <div class="update-popup-main">
        <h3 style="margin: 0;">New Update: {updateName}</h3>
        <span style="font-size: 12px">{updateDate}</span>
        <div class="update-popup-content" set:html={ await marked.parse(updateContent) }></div>
    </div>
</div>

<style is:inline>
    div.update-popup-wrapper {
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100vh;

        position: fixed;
        top: 0;
        left: 0;

        background-color: rgba(0, 0, 0, 0.3);

        padding: 32px;
        box-sizing: border-box;
        z-index: 9999;

        display: none;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    div.update-popup-main {
        display: flex;
        flex-direction: column;

        gap: 8px;

        width: 420px;
        max-width: 420px;
        height: 540px;
        max-height: 540px;

        background-color: var(--darkerer);
        padding: 16px;
        border-radius: 4px;
    }

    div.update-popup-content {
        overflow-y: auto;

        background-color: #000;
        border-radius: 4px;
        text-align: left;

        width: 100%;
        height: 100%;

        line-height: 24px !important;
    }

    div.update-popup-content p {
        text-align: left !important;
        margin: 16px !important;
    }

    div.update-popup-content img {
        max-width: 100%;
    }
</style>

<script define:vars={{ updateDate }}>
    const wrapper = document.getElementById("update-wrapper");

    if (localStorage.getItem("latestUpdate") !== updateDate) {
        wrapper.style.display = "flex";
        setTimeout(() => {
            wrapper.style.opacity = 1;
        }, 3000);
        setTimeout(() => {
            wrapper.onclick = () => {
                wrapper.style.opacity = 0;
                wrapper.style.pointerEvents = "none";
            }
        }, 4500)
        localStorage.setItem("latestUpdate", updateDate);
    }
</script>