---
import {marked} from 'marked';

const updateName = "happy 1 year!";
const updateDate = "Nov 11, 2024";
const updateContent = `
it's been a year...?!

thank you all for using this site for your shitposts, memes, fanfictions!

it's been very fun making this site better for you all!

\- skuqre (\`u/ANISNO1\`)

**blabla gen**
- renamed \`rapture centurion: red shoes\` -> \`rapture centurion: replica red shoes\`

**dialogue gen**
- added landscape padding
    - makes landscape canvas sizes look more like the game, it can be toggled off
    - might be buggy when toggling between
    - changing canvas size is now a **destructive** transform, meaning some positions of UI elements (dialogue text, character name, etc...) may get messed up.
- fixed some issues with canvas sizes
    - camera should now follow lead when changing
    - characters should now follow lead when changing
- increased choice text margins (24px -> 32px)

**card gen**
- added Drag
    - may cause the tool to chug because of how things are drawn, will fix soon
`;
---

<div class="update-popup-wrapper" id="update-wrapper">
    <div class="update-popup-main">
        <h3 style="margin: 0;">New Update: {updateName}</h3>
        <span style="font-size: 12px">{updateDate}</span>
        <div class="update-popup-content" set:html={ await marked.parse(updateContent) }></div>
    </div>
</div>

<style is:inline>
    div.update-popup-wrapper {
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100vh;

        position: fixed;
        top: 0;
        left: 0;

        background-color: rgba(0, 0, 0, 0.3);

        padding: 32px;
        box-sizing: border-box;
        z-index: 9999;

        display: none;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    div.update-popup-main {
        display: flex;
        flex-direction: column;

        gap: 8px;

        width: 420px;
        max-width: 420px;
        height: 540px;
        max-height: 540px;

        background-color: var(--darkerer);
        padding: 16px;
        border-radius: 4px;
    }

    div.update-popup-content {
        overflow-y: auto;

        background-color: #000;
        border-radius: 4px;
        text-align: left;

        width: 100%;
        height: 100%;

        line-height: 24px !important;
    }

    div.update-popup-content p {
        text-align: left !important;
        margin: 16px !important;
    }
</style>

<script define:vars={{ updateDate }}>
    const wrapper = document.getElementById("update-wrapper");

    if (localStorage.getItem("latestUpdate") !== updateDate) {
        wrapper.style.display = "flex";
        setTimeout(() => {
            wrapper.style.opacity = 1;
            wrapper.onclick = () => {
                wrapper.style.opacity = 0;
                wrapper.style.pointerEvents = "none";
            }
        }, 3000);
        localStorage.setItem("latestUpdate", updateDate);
    }
</script>