---

---

<div class="input-fields">
    <table>
        <tr>
            <td>
                <input
                    type="text"
                    id="text"
                    autocomplete="off"
                    placeholder='Boss Name here...'
                />
            </td>
            <td>
                <button id="generate">Refresh</button>
            </td>
        </tr>
        <tr>
            <td>
                <input
                    type="text"
                    id="subtext"
                    autocomplete="off"
                    placeholder='"WARNING" text here...'
                />
            </td>
            <td>
                <label for="bg-img-up">
                    Upload BG
                    <input type="file" id="bg-img-up" accept="image/*">
                </label>
            </td>
        </tr>

        <th colspan="3">Background (X, Y, and Scale)</th>
        <tr>
            <td colspan="3">
                <input
                    type="number"
                    id="xposbg"
                    autocomplete="off"
                    value="0"
                    step="10"
                />
                <input
                    type="number"
                    id="yposbg"
                    autocomplete="off"
                    value="0"
                    step="10"
                />
                <input
                    type="number"
                    id="scalebg"
                    autocomplete="off"
                    value="100"
                    style="margin-bottom: 4px"
                />
            </td>
        </tr>

        <th colspan="3">Boss Name (X, Y, and Size)</th>
        <tr>
            <td colspan="3">
                <input
                    type="number"
                    id="xposbn"
                    autocomplete="off"
                    value="0"
                    step="10"
                />
                <input
                    type="number"
                    id="yposbn"
                    autocomplete="off"
                    value="0"
                    step="10"
                />
                <input
                    type="number"
                    id="scalebn"
                    autocomplete="off"
                    value="100"
                    style="margin-bottom: 4px"
                />
            </td>
        </tr>

        <th colspan="3">Canvas (width and height)</th>
        <tr>
            <td colspan="3">
                <input
                    type="number"
                    id="wcanvas"
                    autocomplete="off"
                    value="1920"
                    step="10"
                />
                <input
                    type="number"
                    id="hcanvas"
                    autocomplete="off"
                    value="1080"
                    step="10"
                    style="margin-bottom: 4px"
                />
            </td>
        </tr>
    </table>
</div>

<style>
    div.input-fields {
        width: fit-content;
        margin: auto;
        background-color: var(--darkerer);
        border-radius: 4px;
        box-shadow: 0 0 16px black;
    }

    div > table {
        margin: auto;
    }

    input {
        width: 256px;
        height: 32px;
        font-family: "pretendard";
        padding: 4px;
        padding-left: 8px;
        margin: 4px;
        outline: none;
        border: 0;
        background-color: var(--dark);
        border-radius: 4px;
        caret-color: white;
        color: lightgray;
        font-size: 16px;
    }

    input#subtext {
        margin-top: 0;
    }

    label[for=bg-img-up] {
        display: block;
        width: 90px;
        height: 40px;
        font-size: 16px;
        top: -2px; /* perfectionism */
        background-color: var(--darker);
        color: lightgray;
        border: none;
        border-radius: 4px;
        font-family: 'pretendard', sans-serif;
        position: relative;
        text-align: center;
        line-height: 40px;

        transition-property: color, background-color, box-shadow;
        transition-duration: 0.1s;
        transition-timing-function: ease-in-out;
    }

    button {
        all: unset;
    }

    button:focus {
        outline: revert;
    }

    input#color, input#color2 {
        width: 40px;
        height: 40px;

        margin: 0;
        margin-right: 4px;
        padding: 0px 2px;
    }

    #color2 {
        position: relative;
        top: -2px;
    }

    button#generate {
        width: 90px;
        height: 40px;
        background-color: var(--darker);
        border-radius: 4px;
        color: lightgray;
        font-family: "pretendard";
        text-align: center;

        transition-property: color, background-color, box-shadow;
        transition-duration: 0.1s;
        transition-timing-function: ease-in-out;

        margin-left: 0px;
        margin-right: 4px;
    }

    button#generate:hover, label[for=bg-img-up]:hover {
        background-color: #f4d2594b;
        color: white;
        text-decoration: none;

        transition-property: color, background-color, box-shadow;
        transition-duration: 0.1s;
        transition-timing-function: ease-in-out;
    }
    input[type="file"] {
        display: none;
    }

    input[type="number"] {
        width: 90px;
        margin: 0;
        margin-left: 4px;
    }

    p.tool-label {
        margin: 0px 0px 4px 6px;
        text-align: left;
        width: max-content;
    }

    th {
        text-align: left;
        padding-left: 8px;
    }
</style>
