---

---

<div class="input-wrapper">
    <div class="input-main">
        <div class="row">
            <input type="text" class="fullwidth" id="text" placeholder='Boss Name here...' />
            <div class="input-button" id="generate"><span>Refresh</span></div>
        </div>
        <div class="row">
            <input type="text" class="fullwidth" id="subtext" placeholder='"WARNING" text here...' />
            <label for="bg-img-up" class="input-button">
                <span>Upload BG</span>
                <input type="file" id="bg-img-up" accept="image/*" />
            </label>
        </div>

        <div class="row takeheight">
            <h4>Background</h4>
        </div>
        <div class="row takeheight">
            <div class="column">
                <span>X Position</span>
                <input type="number" id="xposbg" step="10" class="fullwidth" value="0" />
            </div>
            <div class="column">
                <span>Y Position</span>
                <input type="number" id="yposbg" step="10" class="fullwidth" value="0" />
            </div>
            <div class="column">
                <span>Scale (%)</span>
                <input type="number" id="scalebg" class="fullwidth" value="100" />
            </div>
        </div>

        <div class="row takeheight">
            <h4>Boss Name</h4>
        </div>
        <div class="row takeheight">
            <div class="column">
                <span>X Position</span>
                <input type="number" id="xposbn" step="10" class="fullwidth" value="0" />
            </div>
            <div class="column">
                <span>Y Position</span>
                <input type="number" id="yposbn" step="10" class="fullwidth" value="0" />
            </div>
            <div class="column">
                <span>Font Size (px)</span>
                <input type="number" id="scalebn" class="fullwidth" value="117" />
            </div>
        </div>

        <div class="row takeheight">
            <div class="column">
                <h4>Canvas Width</h4>
                <input type="number" id="wcanvas" step="10" class="fullwidth" value="1920" />
            </div>
            <div class="column">
                <h4>Canvas Height</h4>
                <input type="number" id="hcanvas" step="10" class="fullwidth" value="1080" />
            </div>
        </div>

        <div class="row takeheight">
            <div class="column">
                <h4>X Offset</h4>
                <input type="number" id="xoff" step="10" class="fullwidth" value="0" />
            </div>
            <div class="column">
                <h4>Y Offset</h4>
                <input type="number" id="yoff" step="10" class="fullwidth" value="0" />
            </div>
        </div>
    </div>
</div>
