---

---

<div class='warning-display'>
    <canvas id="warning-canvas" width="1920" height="1080"></canvas>
</div>

<style>
    div.warning-display {
        display: flex;
        width: 100%;
        margin: 0;
    }

    canvas#warning-canvas {
        max-width: 90%;
        max-height: 540px;
        margin: auto;
    }
</style>